* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

.container__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#js-price {
    font-size: 50px;
    margin: 30px;
}

#js-sale {
    font-size: 30px;
    color: #00ca00;
    animation: scale infinite alternate-reverse linear 3s;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
